<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Hello my name is Lukasz D. Tulikowski</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ asset('bundles/app/img/me.jpg') }}" alt="" class="img-thumbnail img-fluid" />
        </div>
        <div class="col-md-8">
            <p><strong class="text-danger">Nice to see you here!</strong> Would you like to know how much faster is this application written in <strong><a href="https://revel.github.io/">Golang Framework</a></strong> instead of <strong>Symfony</strong>?</p>
            <blockquote class="blockquote">
                <p class="mb-0">Yeah... me to!</p>
            </blockquote>
            <p class="small"><strong>Checkout this repo:</strong> <a href="https://github.com/tulik/golang-revel-todolist">https://github.com/tulik/golang-revel-todolist</a> maybe you find it helpful.</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
