{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Purpose of this project</h1>
            <p class="lead">Goal of this project is to make this simple application as fast as possible using latest available stack and proper configuration (<strong>Apache FastCGI</strong>, <strong>OPcache</strong>, <strong>APCu</strong> etc.)</p>
            <p class="lead">Next step is to compare <strong class="text-primary">MySQL</strong> and <strong class="text-primary">MongoDB</strong> server solution to find out what impact will have the choice of database storage to an efficiency of this demo application.</p>
        </div>
    </div>
{% endblock %}